TLS 1.2 version downgrade protection

RFC 8446 Sec. 7.4.2 adds SHOULD requirements for TLS 1.2 servers re: setting/checking the ServerHello.Random field. Do we add these requirements?

I think this is a good idea.

> RFC 8446 Sec. 7.4.2 adds SHOULD requirements for TLS 1.2 servers re: setting/checking the ServerHello.Random field. Do we add these requirements?

I believe it is in Section 4.1.3, not 7.4.2 (sorry for being tedious).

Agree this is a good idea:
> This mechanism provides limited protection against downgrade attacks over and above what is provided by the Finished exchange: because the ServerKeyExchange, a message present in TLS 1.2 and below, includes a signature over both random values, it is not possible for an active attacker to modify the random values without detection as long as ephemeral ciphers are used.  It does not provide downgrade protection when static RSA is used.

On second thoughts, I don't think we should add this requirement for TLS 1.2 clients or severs.

This mechanism provides nice protection against downgrade from TLS 1.2 to TLS 1.0/1.1, assuming it is implemented by both client and server.

So if we add this requirement, we would be putting the onus on TLS 1.2 implementations to protect against downgrade to versions that we just obsoleted!

We *could* say something like: you're supposed to disallow TLS 1.0/1.1, but if you choose to still support them, then you SHOULD implement the client or server side of this protection. This includes any general-purpose libraries that still support old TLS.

But even that is unlikely to happen.

Agreed!