RFC 6125 in refs

Should it be normative? Should we mention the "bis" document?

https://datatracker.ietf.org/doc/draft-ietf-uta-rfc6125bis/

> Should it be normative?

I'd say so, but maybe I'm missing some key info.  What is the reason for not having it as normative?

> Should we mention the "bis" document?
> https://datatracker.ietf.org/doc/draft-ietf-uta-rfc6125bis/

Maybe, but it might depend on a couple of factors:
1. How big is going to be the difference between 6125 and its bis, and how much of that difference has an impact on TLS best practices?
2. Publication timescales: if we anticipate a significant delta and want to avoid waiting longer than needed at the editor, then maybe better leaving the reference to 6125.

PS: the reference to 2818 in Section 6.1 should be probably changed to the relevant sections (4.3.3, 4.3.4 and 4.3.5) of I.D-ietf-httpbis-semantics, which obsoletes 2818 and is with the IESG right now.


RFC2818 addressed elsewhere.

Will keep this issue open for now, until our draft reaches a more advanced stage.

I think the RFC 6125 (or bis) reference should be informative - we're not citing it in a normative kind of way.

Actually Thomas notes that we reference Section 6.2.1 of RFC 6125 in a normative way, so let's keep it normative.

Discussed: this is in fact normative, but we will reference 6125 and not the bis. If the bis is published before our document, we'll fix the reference.