I-D nits: abstract

* The draft header indicates that this document obsoletes RFC7525, but the
     abstract doesn't seem to directly say this.  It does mention RFC7525
     though, so this could be OK.

* The draft header indicates that this document updates RFC6066, but the
     abstract doesn't seem to mention this, which it should.

* The draft header indicates that this document updates RFC5288, but the
     abstract doesn't seem to mention this, which it should.

The first one is fine, should add a sentence to address the other two.