Reference to the security considerations of RFC5246 is too vague

https://datatracker.ietf.org/doc/review-ietf-uta-rfc7525bis-07-secdir-lc-kaduk-2022-06-01/

```
Section 7.2

   Section 4.2 above recommends the use of the AES-GCM authenticated
   encryption algorithm.  Please refer to Section 11 of [RFC5246] for
   general security considerations when using TLS 1.2, [...]

The referenced section itself just says "security issues are discussed
throughout this memo" and mentions a few appendices.  Perhaps the section
reference is not adding much for us and we should just reference 5246 in
its entirety?
```

cc @kaduk

The _"(Please refer to) Section 11 of [RFC5246] for general security considerations when using TLS 1.2"_ seems spurious to me.  

Even following the pointer to pointer I couldn't find any useful information that would improve the reader's understanding on the "AES-GCM in TLS 1.2" topic.

I reckon we can drop that bit altogether and just leave the ref to RFC5288.

Semi-tangential note: Maybe we could expand the introductory paragraph text in the Security Considerations section that says roughly "and btw, don't forget to read the security considerations of both 1.3 and 1.2."