Signature_algorithm for TLS 1.3

From Paul's review:

> Clients MUST indicate to servers that they request SHA-256, by using
    the "Signature Algorithms" extension defined in TLS 1.2.

> Maybe start with: "TLS 1.2 client MUST ....."

I think this is not just a typo. The paragraph is missing the appropriate advice for TLS 1.3. See RFC 8446, Sec. 4.2.3.