ALPN enforcement phrasing

_"[...] servers should strictly enforce the behavior prescribed in Section 3.2 of [RFC7301]"_

* Should this be stronger than should?  I.e.,"need to" or "ought to", or even MUST.


The "should" should be normative.