two comments on cert compression

```
** Section 3.3.1

-- Given that the recommendations of this section include things beyond
certificate compression, is the title of “Certificate Compression” appropriate?

-- Would there be any additional techniques to list per Section 4 of RFC9191?
```

@rdanyliw


As I said via email, I think that an informational reference to that RFC might be appropriate. (It's not clear to me if RFC 9191 is limited to EAP or applies more generally.)