Refresh the Acknowledgements

Should we remove the 7525 ones?

Maybe, instead of just removing, we could link the ACKs sections as in:

_"See {{Section 13 of RFC7252}} for additional acknowledgements for the previous revision of this document."_

or similar.