redundancy can create confusion

```
I suspect that I'm being dumb, but I cannot quite reconcile:

* Implementations MUST NOT negotiate SSL version 3.
* Implementations MUST NOT negotiate TLS version 1.0 [RFC2246].
* Implementations MUST NOT negotiate TLS version 1.1 [RFC4346].
with:
* Implementations MUST support TLS 1.2 [RFC5246] and **MUST prefer to negotiate
TLS version 1.2 over earlier versions of TLS** (emphasis added).

I don't understand the last part -- it seems like this equates to:
{
if (version == SSL3 || version == TLS1 || version == TLS1.1 ) { abort(); }
if (version >= 1.2) { do_stuff () };
}
I don't understand the "if (version >= 1.2)" check -- if I MUST NOT use SSL3,
TLS1.0, TLS1.1, then isn't the only thing left >= TLS 1.2? Not trying to be
difficult, I really just don't understand what I'm missing...
```

cc @wkumari

This same point has also been made in the TSV-ART review:
```
1) Section 3.1.1:
"Implementations MUST support TLS 1.2 [RFC5246] and MUST prefer to negotiate
TLS version 1.2 over earlier versions of TLS."

Considering that no earlier version MUST be negotiated, the second part of
above sentence appears redundant.
```

cc @gloinul

As noted via email, I think that the clause about "MUST prefer" is a holdover from RFC 7525 that we neglected to remove.

> As noted via email, I think that the clause about "MUST prefer" is a holdover from RFC 7525 that we neglected to remove.

cool, let's drop it then!