Review draft-cooley-cnsa-dtls-tls-profile

And possibly adopt some of the recommendations. Specifically, related to the newer extensions.

Mailing list thread: https://mailarchive.ietf.org/arch/msg/uta/u7jfka7z0isGNBak_RFs-H1HRvI/

Also, Deb offered to help with rationale for some of the recommendations.

I believe there is little support/justification to adopting the recommendations related to ciphersuites and lengths of DH groups.

Having said that, there's a lot more to this draft, in particular Sec. 6. For example, a SHOULD-level requirement for TLS 1.2 implementations to implement Sec. 1.3 of RFC 8446.