impact on application protocols of reaching IL/CL

```
Section 4.4:

When a sender is approaching CL, the implementation SHOULD initiate a new
handshake (or in TLS 1.3, a Key Update) to rotate the session key. When a
receiver has reached IL, the implementation SHOULD close the connection.

These are clearly the right advice. However, depending on your protocol this
might be far from easy to accomplish without tearing down the whole protocol
session or context. I would actually add some wording here about the need to
consider how that can be accomplished in the protocol protected by (D)TLS. If
you want an example I would recommend to point to DTLS/SCTP as the protocols
multi-stream non head of line blocking nature makes a clean cut over difficult
and instead results in a fairly complex mechanism to handle parallel DTLS
connections while one ensure that all data protected by the old connection is
drained out of the lower layers. Also as noted above RFC 9001 section 6
indicates yet another way of doing it. However, I think it is a method that has
the downside of creating key derivation and signalling in an application
protocol. There are some potential gremlins here that might be worth at least
warning application protocol writers about.
```

cc @gloinul

We need to add some text about why one would not follow the SHOULD. Expect a PR.