Need a pre-RFC5378 disclaimer?

ID nits tool note in reference to the updating of RFC5288 (AES-GCM cipher suites):
 
```
     The document seems to lack a disclaimer for pre-RFC5378 work, but may
     have content which was first submitted before 10 November 2008.  If you
     have contacted all the original authors and they are all willing to grant
     the BCP78 rights to the IETF Trust, then this is fine, and you can ignore
     this comment.  If not, you may need to add the pre-RFC5378 disclaimer.
     (See the Legal Provisions document at
     https://trustee.ietf.org/license-info for more information.)
```

Our document quotes exactly one sentence out of RFC5288.

> The nonce_explicit MAY be the 64-bit sequence number.

I was assuming we don't need to jump through these hoops for a single sentence.

Agreed. If needed we could rephrase it, like so: "Note that this stronger recommendation updates Section 3 of [RFC5288], which specified that 64-bit sequence numbers were optional."

I think the nit is triggered by the "Updates" header to RFC5288 rather than the direct quote - I can check with the rest of the IESG what is the right way to treat this. Do you think reaching out to the authors of 5288 would have little effect?

We can easily talk to Joe Salowey. But if we need to reach all three authors, that could become painful. 

Thomas will reach out to the authors.

I'm having second thoughts on the legitimacy of the `idnits` warning.

Specifically: we are doing a modification of 5288 from _"inside the IETF Standards Process"_, don't we?  If so, ISTM that obtaining a license from the copyright controllers is not required.

I'm wondering whether the `category: bcp` (rather than `std`) may have tricked `idnits`?

I spent too much time reading the relevant licensing texts. IMO we should remove the direct quote and replace it by Peter's text, and then we're good to go legally - but we'll have to all ignore the annoying I-D Nits warning. I couldn't find a way to make it ignore the Updates clause.

Sounds good. Thank you!