Harmonize TLS/DTLS Wording

Julien ÉLIE point out that there is a wording difference between:

   *  Implementations MUST support TLS 1.2 [RFC5246] and MUST prefer to
      negotiate TLS version 1.2 over earlier versions of TLS.

   *  Implementations SHOULD support TLS 1.3 [RFC8446] and if
      implemented, MUST prefer to negotiate TLS 1.3 over earlier
      versions of TLS.

and:

   *  Implementations MUST support and (unless a higher version is
      available) MUST prefer to negotiate DTLS version 1.2 [RFC6347]

   *  Implementations SHOULD support and, if available, MUST prefer to
      negotiate DTLS version 1.3 as specified in [I-D.ietf-tls-dtls13].

We should harmonize this text.