contradictory sentences

```
I find some of the 2119 language to be somewhat contradictory:

  *  Implementations MUST NOT negotiate TLS version 1.1 [[RFC4346](https://datatracker.ietf.org/doc/rfc4346/)].

  *  Implementations MUST support TLS 1.2 [[RFC5246](https://datatracker.ietf.org/doc/rfc5246/)] and MUST prefer to
     negotiate TLS version 1.2 over earlier versions of TLS.

The second sentence implies that a TLS 1.2 is allowed to negotiate earlier versions of TLS, but a previous statement indicates that this is not allowed.  A similar contradiction appears for DTLS:

   *  Implementations MUST NOT negotiate DTLS version 1.0 [[RFC4347](https://datatracker.ietf.org/doc/rfc4347/)].

   *  Implementations MUST support DTLS 1.2 [[RFC6347](https://datatracker.ietf.org/doc/rfc6347/)] and MUST prefer to
      negotiate DTLS version 1.2 over earlier versions of DTLS.
```

cc @rgwilton

This is a dup of #436

Closing as #447 was merged.