STAR vs non-STAR delegation requirement clarifications

Check that where the requirements in section 2.3.2 do not apply to non-STAR certs, this is duly noted.  E.g., the fourth bullet point:
```
* MUST contain an auto-renewal object and inside it, the fields
  listed in Section 3.1.1 of [RFC8739];
```
should also say something like `with the exception described in Section 2.4` or similar.

... as well as when we talk about `notBefore` and `notAfter`