Provide Guidance on TLS 1.2 resumption

* Overall goal: ensure forward secrecy, possibly also session length
* Revisit sec. 3.4
* https://www.venafi.com/blog/tls-session-resumption


* Add a reference to TLS 1.3 guidance: Sec. 2.2 of RFC 8446.
* Add a SHOULD level req to use ECDH with resumption in 1.3, to gain FS. (Only computational cost, no extra roundtrip).
* Mention privacy issues (for both 1.2 and 1.3), including the server prolonging the ticket on purpose. https://svs.informatik.uni-hamburg.de/publications/2018/2018-12-06-Sy-ACSAC-Tracking_Users_across_the_Web_via_TLS_Session_Resumption.pdf