Outdated references

_Comment by @larseggert_

Reference `[RFC8740]` to `RFC8740`, which was obsoleted by `RFC9113` (this may be on purpose).

Reference `[RFC5246]` to `RFC5246`, which was obsoleted by `RFC8446` (this may be on purpose).

Reference `[RFC6347]` to `RFC6347`, which was obsoleted by `RFC9147` (this may be on purpose).

Reference `[RFC4346]` to `RFC4346`, which was obsoleted by `RFC5246` (this may be on purpose).

Reference `[RFC4347]` to `RFC4347`, which was obsoleted by `RFC6347` (this may be on purpose).

Reference `[RFC6961]` to `RFC6961`, which was obsoleted by `RFC8446` (this may be on purpose).

Reference `[RFC2246]` to `RFC2246`, which was obsoleted by `RFC4346` (this may be on purpose).

Reference `[RFC5077]` to `RFC5077`, which was obsoleted by `RFC8446` (this may be on purpose).

Reference `[RFC7507]` to `RFC7507`, which was obsoleted by `RFC8996` (this may be on purpose).

