acronyms need some more care

https://mailarchive.ietf.org/arch/msg/acme/XF0qZ5Ba2ldx4Dxyuyo6vUV8-FA/

```
Abstract: Please spell out ACME, CDN, and STAR.  These are not marked
as "well known" in the RFC Editor abbreviation expansion list.

Section 1.1: Please change CA to "Certification Authority".  See
Section 3 of RFC 5280.  This changes is also needed elsewhere in the
document.

Section 1.1: Please add CDNI, uCDN, dCDN, PASSPorT, CSR and FQDN
to the list of terms.
```

CDNI and STIR acronyms are only used in their respective sections, and clarified there. Others fixed.

Russ in https://mailarchive.ietf.org/arch/msg/last-call/PBht-iB_1bzkRraxh5WC_FrCDJc/

```
It is not clear to me why some were added, but others were not.
```

[Yaron's comment](https://github.com/yaronf/I-D/issues/147#issuecomment-800679046) (just above) has the rationale we used to address your comment.

With regards to the terms that have not been added to the glossary (or unrolled on first use):
* CDNI is expanded in the title of section 4.1;
* uCDN and dCDN, section 4.1 has them by reference to RFC7336;
* PASSPorT (and TNAuthList), section 4.2 has them by reference to RFC8225 and RFC8226 respectively.

Having checked the referenced docs again, I reckon we should be covered.


https://mailarchive.ietf.org/arch/msg/acme/VfzOZih-4gL8aIGVtzMw0K-CQxo/

```
All of the other topics have been sorted out.

Russ
```