Paul's nits

```
Nits:
    "An earlier version of this document was published as RFC 7525"

more common is to write:

    "This document obsoletes RFC 7525"

     Version 1.3 of TLS [RFC8446] was released and version 1.3 of DTLS
       was finalized [I-D.ietf-tls-dtls13]

This reference can be updated now but requires textual change ("finalized" no longer needed)

    "leak will be plugged by use of" -> leak is closed by using

    "It is also RECOMMENDED that clients abort" -> Clients SHOULD abort

SEction 3.7, 3.8 I would also add the acronym in the section title.

    "It is also RECOMMENDED that clients" -> Clients SHOULD

improved latency -> reduced latency

because they are  -> because these are

but they are out of scope -> but these are out of scope

"[RFC8422]" appears without proper linking in 4.2.1

  [I-D.ietf-tls-dtls13] can be updated to [RFC9147]

    Clients MUST indicate to servers that they request SHA-256, by using
    the "Signature Algorithms" extension defined in TLS 1.2.

Maybe start with: "TLS 1.2 client MUST ....."

  current state of the art -> best current practises ?
```

> "[RFC8422]" appears without proper linking in 4.2.1

This is a tools bug, it only applies to the PDF conversion and is probably a result of the link being the first word on the page. Any idea who should review it?

cc: @letoams

>  Clients MUST indicate to servers that they request SHA-256, by using
    the "Signature Algorithms" extension defined in TLS 1.2.

> Maybe start with: "TLS 1.2 client MUST ....."

IMO this is not a nit but an omission. Opened #328.