Follow up with Roman

More clarity on field mapping:

> The subject field and its subfields are mapped into the subject field of the CSR,
> as per [RFC5280], Sec. 4.1.2.6. Other extension fields of the CSR template are
> mapped into the CSR according to the table in Section 5.6. The Subject Public
> Key Info field of the CSR is generated by the NDC according to the constraints
> defined by the "keyTypes" object of the template.
>

Also, CDDL.

The need to check the SAN with some "external" logic (e.g. in the case of a full wildcard for DNS name) needs to be raised in the security considerations.