Ben's ballot - final comments

* Section 2.3.1.3
```
   In order to indicate which specific delegation applies to the
   requested certificate a new "delegation" attribute is added to the
   Order object on the NDC-IdO side (see Figure 4).  The value of this

We might want to get the phrase "request object" in here somehow, since
we go on to talk about returning an error response, which is of course
only possible if there is a corresponding request.  (The next section
does talk about the "request object created by the NDC").
```

* Section 2.3.2
```
   If the delegation is for a STAR certificate, the request object
   created by the NDC:
   [...]
   *  MUST have entries in the "identifiers" field for each delegated
      name present in the configuration;

Just to confirm: this is saying that the request/order must request a
certificate for all names covered by the delegation; it cannot request
only a subset of the names in the particular delegation object?  On
first read this seems a bit restrictive, but I suppose it can make state
handling at the IdO easier since the information from the delegation
object can be used to construct the request to the actual CA.
(Similarly for the non-STAR case in §2.3.3, of course.)
```

* Figure 4
```
The example delegation URL in Figure 4 doesn't match the URL structure
used for the example delegation list in Section 2.3.1.2.  (This is not
inherently problematic, but could cause a small amount of reader
confusion.)  The same identifier occurs in several subsequent figures,
as well.
```

* Section 3
```
   Although most of this document, and in particular Section 2 is
   focused on the protocol between the NDC and to IdO, the protocol does
   affect the ACME server running in the CA.  A CA that wishes to
   support certificate delegation MUST also support unauthenticated

Is it correct to say "non-STAR certificate delegation" here?  (The
corresponding change needed to support STAR delegation would have been
done already to support non-delegated STAR issuance, if I understand
correctly.)
```

* Section 7.2
```
   The ACME account associated with the delegation plays a crucial role
   in the overall security of the presented protocol.  This, in turn,
   means that in delegation scenarios the security requirements and
   verification associated with an ACME account may be more stringent
   than in traditional ACME, since the out-of-band configuration of
   delegations that an account is authorized to use, combined with
   account authentication, takes the place of the normal ACME
   authorization challenge procedures.  Therefore, the IdO MUST ensure
   that each account is associated with the exact policy (via a
   "delegation" object) that defines which domain names can be delegated
   to the account and how.  The IdO is expected to use out of band means
   to pre-register each NDC to the corresponding account.

Please double-check and confirm that the singular 'policy' and
'"delegation" object" are as intended here.  IIRC we do allow multiple
delegation objects to be associated with a single account.
```

See https://mailarchive.ietf.org/arch/msg/acme/LswWtHmga_aC0GMBWElBKAaxABY for full context.


Regarding:

>  * Section 3
> 
> ```
>    Although most of this document, and in particular Section 2 is
>    focused on the protocol between the NDC and to IdO, the protocol does
>    affect the ACME server running in the CA.  A CA that wishes to
>    support certificate delegation MUST also support unauthenticated
> 
> Is it correct to say "non-STAR certificate delegation" here?  (The
> corresponding change needed to support STAR delegation would have been
> done already to support non-delegated STAR issuance, if I understand
> correctly.)
> ```

I don't think the observation is correct: STAR issuance does not require the server to support unauth'd GET.  It is a feature that the client needs to request explicitly, and the server could refuse if it does not implement it -- or for any other reason.  See [§3.4 of RFC8739](https://www.rfc-editor.org/rfc/rfc8739.html#section-3.4).